@font-face {
  font-family: "Alata";
  src: url("../../fonts/Alata-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Josefine Sans";
  src: url("../../fonts/JosefinSans-ExtraLight.ttf");
  font-weight: 300;
}
button {
  background-color: white;
  border: 1px black solid;
  color: black;
  width: 10%;
  font-family: "Alata";
  text-transform: uppercase;
  height: 5%;
  text-decoration: none;
  padding: 0.5%;
}
@media (max-width: 900px) {
  button {
    display: none;
  }
}
@media (max-width: 375px) {
  button {
    display: none;
  }
}

button:hover {
  background-color: black;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 375px) {
  section {
    margin-bottom: 25%;
  }
}

body {
  font-size: 15px;
  margin: 0;
  height: 100%;
  font-family: "Josefine Sans";
  padding: 0%;
}
@media (max-width: 375px) {
  body {
    scroll-behavior: smooth;
    font-size: clamp(18px, 10vw, 48px);
  }
}

h1,
h2 {
  font-weight: lighter;
  text-transform: uppercase;
}

header {
  background-image: url(../images/desktop/image-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 700px) {
  header {
    display: none;
    background-image: none;
  }
}
@media (max-width: 375px) {
  header {
    display: none;
    background-image: none;
  }
}

.sectionheader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin: 2%;
  height: 40%;
  margin-left: 6%;
}

.header-menu {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
}
@media (max-width: 700px) {
  .header-menu {
    display: none;
  }
}
@media (max-width: 375px) {
  .header-menu {
    display: none;
  }
}

#burgernav {
  display: none;
}
@media (max-width: 375px) {
  #burgernav {
    display: inline-flex;
    padding-left: 100px;
  }
}

.header-menu_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
  margin-right: 0%;
}
@media (max-width: 375px) {
  .header-menu_list {
    flex-direction: column;
  }
}

.header-menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.title {
  border: 2px solid white;
  width: 60%;
  height: 60%;
  margin: 2%;
  margin-top: 6%;
  display: flex;
  align-items: center;
  margin-left: 6%;
}
@media (max-width: 1200px) {
  .title {
    border: 2px solid white;
    margin: 2%;
    margin-top: 6%;
    display: flex;
    align-items: center;
    margin-left: 6%;
    width: 90%;
    height: 90%;
  }
}

h1 {
  font-size: 6rem;
  margin: 3%;
  color: white;
}
@media (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
}

.sectionmiddle {
  margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6%;
  width: 65%;
}
@media (max-width: 900px) {
  .sectionmiddle {
    width: 100%;
  }
}

.textDiv {
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  background-color: white;
  right: 150px;
  top: 950px;
  padding-top: 3%;
  padding-bottom: 5%;
}
@media (max-width: 900px) {
  .textDiv {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
  }
}

h2 {
  font-size: 2.5rem;
  margin-left: 6%;
}

.textDetail {
  width: 80%;
  margin-left: 6%;
  line-height: 30px;
  color: dimgray;
  font-family: "Alata";
}

.burger {
  display: none;
}

#footerMobile {
  display: none;
}

@media (max-width: 700px) {
  img {
    width: 100%;
  }

  #about {
    background: no-repeat url("../images/mobile/image-hero.jpg");
    height: auto;
    min-height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #about > h1 {
    color: white;
    border: 2px solid white;
    height: 50%;
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-family: "Alata";
    font-weight: lighter;
    display: flex;
    align-items: center;
  }

  nav a {
    color: blanchedalmond;
    text-decoration: none;
    font-size: 18px;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  div > h2 {
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    padding: 20% 0 10% 0;
  }

  p {
    font-size: 24px;
    text-align: center;
    color: dimgray;
    line-height: 40px;
    font-weight: bold;
  }

  .galerieMobile {
    display: block;
  }

  .galerieDesktop {
    display: none;
  }

  .galerieMobile figure {
    position: relative;
    padding-bottom: 25px;
  }

  .galerieMobile figcaption {
    position: absolute;
    top: 50px;
    left: 40px;
    color: white;
    font-size: 24px;
  }

  .titleGalerie > h2 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 15%;
  }

  .button-see-all {
    display: flex;
    justify-content: center;
  }

  .button-see-all > button {
    width: 30%;
    font-size: 24px;
    background: white;
    border: 3px solid black;
    margin-bottom: 8%;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    transform: translateX(100%);
    transition: 0.5s;
    padding-top: 5%;
  }
  nav a {
    font-size: 24px;
  }

  header {
    display: flex;
    gap: 100px;
    position: absolute;
    top: 3%;
  }

  .menu-open {
    transform: translateX(0);
  }

  .logo {
    z-index: 1;
    width: 50%;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .burger span {
    margin: 6px 0;
    width: 40px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 54px;
    display: block;
    transition: 0.5s;
  }

  .burger-cross span:first-child {
    transform: rotate(45deg) translate(7px, 8px);
  }

  .burger-cross span:last-child {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  .burger-cross span:nth-child(2) {
    opacity: 0;
  }

  #footerMobile,
.div-liens {
    display: block;
    background: black;
    min-height: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .div-liens a {
    text-decoration: none;
    color: white;
  }

  .reseau-sociaux-items {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  footer > a > img {
    width: 92%;
    padding-top: 20%;
  }

  footer {
    padding-bottom: 20%;
  }
}
.titleGalerie {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.galerieDesktop {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, 50%);
  grid-row-gap: 2%;
  margin-left: 4%;
}
@media (max-width: 700px) {
  .galerieDesktop {
    display: none;
  }
}
@media (max-width: 375px) {
  .galerieDesktop {
    display: none;
  }
}

figure {
  position: relative;
}
figure img {
  display: block;
}
figure figcaption {
  color: #FFF;
  position: absolute;
  bottom: 5%;
  left: 10%;
  right: 5%;
  text-transform: uppercase;
  font-size: 2rem;
  width: 70%;
}

figure:hover img {
  opacity: 0.3;
  transition: 0.2s;
}

figure:hover figcaption {
  color: black;
}

.galerieMobile {
  display: none;
}
@media (max-width: 700px) {
  .galerieMobile {
    display: block;
  }
}
@media (max-width: 375px) {
  .galerieMobile {
    display: block;
  }
}

#footerDesktop {
  background-color: black;
  display: flex;
  padding-top: 3%;
  padding-right: 1%;
  margin-top: 3%;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  font-family: "Alata";
}
@media (max-width: 700px) {
  #footerDesktop {
    display: none;
  }
}
@media (max-width: 375px) {
  #footerDesktop {
    display: none;
  }
}

.footerleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .footer_logo {
    margin-left: 25%;
  }
}
@media (max-width: 375px) {
  .footer_logo {
    margin-left: 0%;
  }
}

#footerDesktop img {
  margin-left: 15%;
}

.footerright {
  display: flex;
  flex-direction: column;
}

.footer-menu {
  width: 30%;
  display: flex;
}
@media (max-width: 700px) {
  .footer-menu {
    padding-right: 15%;
  }
}
@media (max-width: 375px) {
  .footer-menu {
    flex-direction: column;
  }
}

.footer-menu_list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 100%;
}
@media (max-width: 375px) {
  .footer-menu_list {
    flex-direction: column;
  }
}

@media (max-width: 375px) {
  .icons {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-left: 10%;
  }
}

.footer-menu ul li {
  margin-right: 10%;
}
@media (max-width: 375px) {
  .footer-menu ul li {
    margin-bottom: 30%;
  }
}
.footer-menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-right: 2%;
}

.copyright {
  color: darkgray;
  margin-top: 5%;
}

/*# sourceMappingURL=main.css.map */
